torch
torch.nn as nn
torch.nn.functional as F # adds some efficiency

streamlit torch.utils.data  
torchvision 
torchvision.utils 
import torch.optim 
import numpy as np
import pandas as pd
sklearn.metrics 
matplotlib
os